<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sandrew.publish.mapper.TtRepoPOMapper">

    <resultMap id="BaseResultMap" type="com.sandrew.publish.model.TtRepoPO">
        <id column="repo_id" jdbcType="INTEGER" property="repoId"/>
        <result column="repo_name" jdbcType="VARCHAR" property="repoName"/>
        <result column="repo_desc" jdbcType="VARCHAR" property="repoDesc"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        repo_id, repo_name, repo_desc, status, is_delete, create_by, create_date, update_by, update_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tt_repo
        WHERE repo_id = #{repoId,jdbcType=INTEGER}
    </select>

    <select id="selectByExample" parameterType="com.sandrew.publish.model.TtRepoPOExample" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tt_repo
        <where>
            is_delete = ${@com.sandrew.publish.dictionary.Fixcode@IF_TYPE_NO.getCode()}
        </where>
        <if test="orderByClause != null">ORDER BY ${orderByClause}</if>
    </select>

    <select id="countByExample" parameterType="com.sandrew.publish.model.TtRepoPOExample" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tt_repo
        <where>
            is_delete = ${@com.sandrew.publish.dictionary.Fixcode@IF_TYPE_NO.getCode()}
        </where>
    </select>

    <insert id="insert" parameterType="com.sandrew.publish.model.TtRepoPO" useGeneratedKeys="true" keyProperty="repoId">
        INSERT INTO tt_repo (repo_name, repo_desc, status, is_delete, create_by, create_date, update_by, update_date)
        VALUES (#{repoName}, #{repoDesc}, #{status}, #{isDelete}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate})
    </insert>

    <insert id="insertSelective" parameterType="com.sandrew.publish.model.TtRepoPO" useGeneratedKeys="true" keyProperty="repoId">
        INSERT INTO tt_repo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="repoName != null">repo_name,</if>
            <if test="repoDesc != null">repo_desc,</if>
            <if test="status != null">status,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="repoName != null">#{repoName},</if>
            <if test="repoDesc != null">#{repoDesc},</if>
            <if test="status != null">#{status},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sandrew.publish.model.TtRepoPO">
        UPDATE tt_repo
        <set>
            <if test="repoName != null">repo_name = #{repoName},</if>
            <if test="repoDesc != null">repo_desc = #{repoDesc},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </set>
        WHERE repo_id = #{repoId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sandrew.publish.model.TtRepoPO">
        UPDATE tt_repo
        SET repo_name = #{repoName}, repo_desc = #{repoDesc}, status = #{status},
            is_delete = #{isDelete}, update_by = #{updateBy}, update_date = #{updateDate}
        WHERE repo_id = #{repoId}
    </update>

    <update id="updateByExampleSelective" parameterType="map">
        UPDATE tt_repo
        <set>
            <if test="record.repoName != null">repo_name = #{record.repoName},</if>
            <if test="record.repoDesc != null">repo_desc = #{record.repoDesc},</if>
            <if test="record.status != null">status = #{record.status},</if>
            <if test="record.isDelete != null">is_delete = #{record.isDelete},</if>
            <if test="record.updateBy != null">update_by = #{record.updateBy},</if>
            <if test="record.updateDate != null">update_date = #{record.updateDate},</if>
        </set>
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM tt_repo WHERE repo_id = #{repoId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.sandrew.publish.model.TtRepoPOExample">
        DELETE FROM tt_repo
    </delete>

</mapper>
